.no-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: rgb(132, 135, 136);
  }

  button {
    max-width: 200px;
  }
}
.list-cart-content {
  max-width: 780px;
  .item-cart {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }

    &-des {
      margin-left: 20px;
      max-width: calc(100% - 80px);
      .name {
        white-space: normal !important;
        :hover {
          color: #1435c3;
        }
      }
    }
  }
}
