.bg-container {
  background-color: #f8f8fc;
}

.bg-white {
  background-color: white;
}
.bg-blue {
  background-color: rgb(20, 53, 195);
}

.bg-second {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
