$myColor: red;

.img-header {
  width: 100%;
  object-fit: contain;
}

.nav-container {
  background-color: #1435c3;
  height: 42px;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
    margin-top: -3px;

    li {
      margin: 0px;
      padding: 0px;
      border-style: none;
      border-width: 1px;
      border-color: unset;
      opacity: 1;
      color: rgb(255, 255, 255);
      font-weight: 400;
      text-decoration: unset;
      font-size: 13px;
      line-height: 20px;
      overflow: hidden;
    }
  }
}
