.banner {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  background-size: cover;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  .banner-space {
    opacity: 1;
    animation-play-state: unset;
    min-height: inherit;
    height: 100%;
    display: flex;
    justify-content: center;
    .banner-item {
      position: relative;
      max-width: 100% !important;
      flex: 0 0 100%;
    }
  }
}
.title-KM {
  max-width: 100%;
  border-radius: 0px;
  padding-top: 40px;
  //   padding-bottom: 8px;
  //   padding-left: 16px;
  //   padding-right: 16px;
  text-align: center;
  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
  }
}
.container-promo {
  max-width: 1232px;
  border-radius: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  .row-promo {
    opacity: 1;
    animation-play-state: unset;
    min-height: inherit;
    height: 100%;
    align-items: flex-start;
    display: flex;
    .item-promo {
      position: relative;
      min-height: 1px;
      .item-content {
        opacity: 1;
        animation-play-state: unset;
        box-shadow: 5px 5px 10px 0 rgba(135, 135, 135, 0.67);
        border-radius: 5px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        justify-content: flex-start;
        flex-direction: column;
        -webkit-box-pack: start;
        display: flex;
        .image {
          opacity: 1;
          animation-play-state: unset;
        }
        .title {
          opacity: 1;
          animation-play-state: unset;
          background-color: #f8f8fc;
          font-family: 'Roboto', sans-serif;
          line-height: 1.25rem;
          color: #333333;
          padding-bottom: 2px;
          margin-top: 15px;
          margin-left: 10px;
          margin-right: 10px;
          p {
            font-size: 16px;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            span {
              font-family: 'Roboto', sans-serif;
              line-height: 1.25rem;
              color: #333333;
              .strong {
                font-family: 'Roboto', sans-serif;
                line-height: 1.25rem;
                color: #333333;
              }
            }
          }
        }
        .date {
          opacity: 1;
          animation-play-state: unset;
          background-size: cover;
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 15px;
          p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            span {
              font-size: 14px;
              font-family: 'Roboto', sans-serif;
              line-height: 1.25rem;
              color: #333333;
            }
          }
        }
        .button {
          align-items: center;
          justify-content: flex-end;
          display: flex;
          margin-top: 2px;
          padding-right: 5px;
          padding-bottom: 10px;
          -webkit-box-pack: end;
          a {
            text-decoration: none;
            color: unset;
            cursor: pointer;
            button {
              color: rgba(255, 255, 255, 1);
              height: 32px;
              width: 121px;
              border-radius: 7px;
              background-color: #1435c3ff;
              background-size: cover;
              &:hover {
                cursor: pointer;
                background-color: #3366ccff;
              }
              span {
                color: rgba(255, 255, 255, 1);
                p {
                  color: rgba(255, 255, 255, 1);
                }
              }
            }
          }
        }
      }
    }
  }
}
