.commade-nocontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 16px;
  }
}
