.account-container {
  margin-top: 30px;
  min-width: 300px;
  border-radius: 20px;
  padding: 10px 20px;

  .account-info {
    display: flex;
    align-items: center;

    img {
      width: 45px;
      height: 45px;
      object-fit: contain;
    }

    .account-name {
      margin-left: 10px;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 13px;
        font-weight: 400;
      }

      .name {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

  ul {
    padding: 0;

    li {
      cursor: pointer;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      padding: 4px 0px;
      margin: 8px 0px;
      background: unset;

      &:hover {
        font-weight: 700 !important;

        color: rgb(20, 53, 195) !important;
      }

      svg {
        margin-right: 5px;
      }
    }
  }
}

.account-infor {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;

  .MuiFormControl-root {
    padding: 15px 0;
  }

  button {
    max-width: 100px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    height: 2.5rem;
    padding: 0rem 1.25rem;
    border-radius: 0.25rem;
    background-color: rgb(210, 210, 210);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    min-width: 2.5rem;
    color: rgb(228, 229, 240);
    cursor: not-allowed;
    transition-duration: 80ms;
    transition-property: background-color;
  }
}
