.count-container {
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(228, 229, 240);
  border-radius: 5px;
  padding: 0 10px;

  .button-count {
    svg {
      display: flex;
    }

    &-disable {
      svg {
        color: rgba(16, 16, 16, 0.3);
        cursor: not-allowed;
      }
    }
  }
}
